body, html {
	padding: 0;
	margin: 0;
	background: #222;
	color: #fff;
}

body {
	max-width: 1000px;
	margin: 0 auto;
}
a {
	color: #fff;
}

h1 {
	margin-top: 0;
	padding-top: 0;
}

h1 + .tagline {
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
	display: block;
}
h1 + .genres {
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
	display: block;
}

.comma-separated {
	padding: 0;
	margin: 0;
}

.comma-separated li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
}

.comma-separated li + li:before {
	content: ', ';
	font-style: italic;
}

dl.information dt{
	margin: 0;
	padding: 0;
	width: 7rem;
	float: left;
}

dl.information dd {
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-left: 8rem;
}

.movies {
	padding: 0;
	margin: 0;
}

.movies li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}


.movies li img {
	width: 500px;
	min-height: 281px;
}

.movies h2 {
	padding: 0;
	margin: 0;
}


.movies li {
	position: relative;
	max-width: 500px;
}

.movies .meta {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2rem 1rem 1rem;

	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5))
}

.movies .rating {
	display: inline-block;
	margin-right: 1rem;
}

.missing-backdrop {
	max-width: 100%;
	width: 500px;
}
.missing-backdrop:before {
	padding-bottom: 55%;
	content: '';
	display: block;
}

.pagination {
	padding: 1rem 0;
	font-size: 2em;
	overflow: hidden;
}

.pagination .next{
	float: right;
}

form input {
	margin-top: 1rem;
}